body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, p {
  width: 425px;
  margin-right: 35px;
  margin-top: 25px;
}

textarea {
  width: 900px;
  height: 150px;
  margin-top: 25px;
}

button {
  width: 200px;
  margin-left: 350px;
  margin-top: 25px;
}

.badgeForm {
 width: 950px;
 margin: auto;
 margin-top: 25px;
}

.badges {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutMe {
  border: 2px solid black;
  width: 900px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
}
h1 {
  width: 900px;
}